.bg-navbar {
  color: #fff;
  background-color: #337ab7;
}

a.bg-navbar:hover,
a.bg-navbar:focus {
  color: #fff;
  background-color: #337ab7;
}

/* You can add global styles to this file, and also import other style files */

.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  vertical-align: middle;
}

